@import '~/../../../assets/global_style.scss';
@import '~/../../../assets/onepx.scss';

.homeBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .Carousel-box {
    padding: .05rem;
    padding-bottom: 0;
  }

  .home-nav {
    height: .44rem;
    display: flex;
    align-items: center;

    .box1 {
      flex: 1;
      font-size: .12rem;
    }

    .box2 {
      flex: 2;
      font-weight: bold;
    }

    .box3 {
      flex: 2;
      font-weight: bold;
    }

    .box4 {
      flex: 1;
      font-size: .13rem;
    }

    a {
      &.active {
        position: relative;
        color: $themeColor;
      }
      &.active::after{
        content: "";
        display: block;
        position: absolute;
        bottom: -12px;
        left: 17%;
        width: 21.33333vw;
        height: 2px;
        background-color: #ef4238;
        transition: left .2s;
      }
    }

  }

  .home-content {
    flex: 1;
    height: 100%;
  }
}